<div class="container">
    <div class="row">
		<div class="col-sm-3 col-md-3">
            <div class="well">
        		<h2 class="text-muted">Silver</h2>
        		<p><span class="label label-default">POPULAR</span></p>
        		<ul>
        			<li>10 users</li>
        			<li>Unlimited access</li>
        			<li>3TB of space</li>
        			<li>E-mail support</li>
        		</ul>          
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
        		<hr>
        		<h3>$15.99 / month</h3>
        		<hr>
        		<p><a class="btn btn-default btn-lg" href="#"><i class="icon-ok"></i> Select plan</a></p>
        	</div>
        </div>
        <div class="col-sm-3 col-md-3">
        	<div class="well">
        		<h2 class="text-warning">Bronze</h2>
        		<p><span class="label label-success">POPULAR</span></p>
        		<ul>
        			<li>20 users</li>
        			<li>Unlimited access with no limits</li>
        			<li>5TB of space</li>
        		</ul>          
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
        		<hr>
        		<h3>$10.99 / month</h3>
        		<hr>
        		<p><a class="btn btn-success btn-lg" href="#"><i class="icon-ok"></i> Select plan</a></p>
        	</div>
        </div>
        <div class="col-sm-3 col-md-3">
        	<div class="well">
        		<h2 class="text-info">Economy</h2>
        		<p><span class="label label-info">BUDGET</span></p>
        		<ul>
        			<li>10 users</li>
        			<li>5TB of space</li>
        		</ul>          
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
        		<hr>
        		<h3>$8.99 / month</h3>
        		<hr>
              <p><a class="btn btn-default btn-lg" href="#"><i class="icon-ok"></i> Select plan</a></p>
        	</div>
        </div>
	</div>
</div>