/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// CSS overides
.navbar { 
	border-radius:0; 
}

form {
  padding: 15px;
}

.form-controls {
  margin-bottom: 10px;
}